# Auto-detect text files and perform LF normalization
* text=auto

# C++ sources
*.hpp text diff=cpp
*.cpp text diff=cpp
*.h text diff=cpp

# Proto
*.proto text

# Python
*.py text diff=python

# YAML / Config
*.yaml text
*.yml text
*.toml text

# Markdown
*.md text diff=markdown

# Shell
*.sh text eol=lf

# Binary
*.png binary
*.jpg binary
*.step binary
*.stl binary
*.stp binary
